*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: .32rem;
}
html,body{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
}
header{
    width: 100%;
    height: 1rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header span{
    margin: 0 .7rem;
    line-height: 1rem;
    color: #A0A0A0;
}
header .active{
    color: #617EF6;
    border-bottom: .04rem solid #617EF6;
}